/* resume-1 */
* {
    font-family: Poppins, sans-serif;
}


/* htmal page */
html, body {
    margin: 0;
    width: 21cm;
    height: 29.7cm;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid whitesmoke;
    background-color: #121212;
}


/* all ol tags */
ol {
    padding-left: 0;
    margin-left: 15px;
    color: whitesmoke;
}


/* all input tags */
input {
    border: none;
    color: whitesmoke;
    background-color: #121212;
}


/* all textarea tags */
textarea {
    border: none;
    resize: vertical;
    color: whitesmoke;
    background-color: #121212;
}


/* top section */
#top-section {
    display: flex;
    align-items: center;
    margin: 0 20px;
}
#rect {
    height: 100px;
    border: 10px solid whitesmoke;
    margin: 20px 10px 20px 0;
}
.NAME {
    text-align: left;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 900;
    width: 100%;
}
#Profession {
    text-align: left;
}


/* rest of the page */
#details {
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
}
#details h3 {
    display: inline;
    margin: 0;
    color: whitesmoke;
}

.column {
    width: 48%;
}

.left {
    margin-left: 4%;
}

#about-para {
    width: 95%;
}

#contact {
    margin-bottom: 10px;
}
#contact i {
    color: whitesmoke;
}
#contact p {
    display: inline;
}

#skills {
    width: 100%;
}
#skills table {
    border-collapse: collapse;
    border: 2px solid whitesmoke;
}
#skills th {
    background-color: whitesmoke;
    color: #121212;
    padding: 5px 40px;
}
#skills td {
    padding: 5px;
    text-align: center;
}
#skills h3 {
    margin: 0;
    color: black;
}
.center {
    text-align: center;
}

#work-experience, #education {
    margin-top: 10px;
}
#work-experience input, #education input {
    width: 95%;
}
#work-experience textarea {
    width: 95%;
}

div li p {
    margin-top: 0px;
}