* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',
    sans-serif;

    /* background-color: #ffffff; */
}

a {
    text-decoration: none;
}

.navbar {
    background-color: #ffbb12;
    justify-content: space-between;
    display: flex;
    padding: 2vw;
    height: 120px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.link-nav {
    display: flex;
    align-items: center;
}

#Developers {
    padding-right: 0.8vw;
    padding-left: 0.8vw;
    color: #111111;
    font-weight: 500;
    font-size: 15px;

}

.buttons {
    margin: 0.8vw;
    border: none;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 5px;


}

/* #button-1 {
    background-color: #ffbb12;
    color: #111111;
    border: 1.5px solid #111111;
    /* Green */


#button-2 {
    background-color: #fff;
    color: black;
    border: 1.5px solid #111111;
    margin-right: 105px;
    /* Green */

}


#Resume-Builder {
    color: white;
    font-weight: 400;
    font-size: 33px;
    margin-top: 0px;
    margin-left: 43px;
    font-family: 'Pacifico',
    cursive;

}



.box-d {
    width: 293px;
    height: 16px;
    background-color: #ffbb12;
    margin-left: -223px;
    margin-top: -69.5px;
}

.center-box {
    background-color: #F1F9FF;
    display: flex;
    justify-content: flex-start;



}

.resume {
    width: 31%;
    position: absolute;
    margin-left: 55px;
    margin-top: 183px;

}

.magnified-resume {
    width: 24%;
    position: fixed;
    left: 9%;
    right: 88%;
    top: 38%;
    z-index: 1;
    height: auto;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.parent {
    display: flex;
    justify-content: space-evenly;


}

.section-1 {
    width: 55%;
}


.magnified-resume:hover {
    width: 26%;
    position: fixed;
    left: 9%;
    right: 90%;
    top: 34.5%;
    z-index: 1;
    height: auto;
}

#Developers:hover {
    color: #F1F9FF;
    transition: all .5s;
}

/* .resume-temp {
    width: 44%;
    margin: 90px 0 0 101px;
    border-radius: 30px 30px 0 0;
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.2);
} */


/* Resume */

.resume-temp {
    position: fixed;
    width: 46.5%;
    margin: 73px 0 0 -25px;
    border-radius: 30px 30px 0 0;
    box-shadow: 3px -3px rgb(0, 0, 0);
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    color: white;
    /* box-shadow: 3px -3px rgb(0, 0, 0); */
    box-shadow: 1px -1px -1px rgb(255, 230, 0);
    transition: all .4s ease;

}

.Impressive-resume {

    /* text-align: right; */
    margin-top: 189px;
    padding-right: 0px;
    padding-top: 85px;
    padding-left: 0px;
    margin-left: -221px;
    margin-right: -7px;
    font-size: 55px;
    font-family: 'Raleway',
    sans-serif;
}

.resume-temp:hover {
    border-radius: 5% 5% 0% 0%;
    box-shadow: 3px -3px rgb(255, 208, 0);
}


/* Login+ Sign Up */
.btn:link,
.btn:visited {
    text-decoration: none;

    position: relative;
    top: 0;
    left: 0;
    padding: 15px 28px;
    border-radius: 10px;
    border: 1.5px;
    display: inline-block;
    transition: all .5s;
    border: 1.5px solid #111111;
    margin: 5px;
}

.btn-white {
    background: #ffbb12;
    color: #000;
}

.btn:hover {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.btn:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

.btn-bottom-animation-1 {
    animation: comeFromBottom 1s ease-out .8s;
}

.btn::after {
    content: "";
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    display: inline-block;
    z-index: -1;
    transition: all .5s;
}

.btn-white::after {
    background: #ffbb12;
}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}

@keyframes comeFromBottom {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Start Building */
/* .fourth {

    color: rgb(26, 26, 26);
    font-family: 'Raleway',
        sans-serif;
    background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    border-radius: 10px;
    padding-left: 30px;
    border-left-width: 0px;
    border-left-style: solid;
    border-right-width: 0px;
    border-right-style: solid;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-top-width: 0px;
    border-top-style: solid;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 61px;
    margin-left: -219px;
    font-size: 20px;
}

.fourth:hover {
    background-position: 0;
}
 */


.link_wrapper {
    position: relative;
}

.Hoverme {
    display: block;
    width: 250px;
    height: 45px;
    line-height: 40px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;

    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
    font-family: 'Raleway',
    sans-serif;
    border-radius: 10px;
    border-top-width: 2.5px;
    border-bottom-width: 2.5px;
    border-right-width: 2.4px;
    border-left-width: 2.4px;
    margin-left: -225px;
    margin-top: 64px;
}

.icon {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

.icon svg {
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #f1c40f;
    transition: all .35s;
}

.Hoverme:hover {
    width: 200px;
    border: 3px solid #f1c40f;
    background: transparent;
    color: #f1c40f;
}

.Hoverme:hover+.icon {
    border: 3px solid #f1c40f;
    right: -25%;
}